.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;
  height: 300px;
  width: 300px;
  border: 3px;
  border-color: black;
  border-style: solid;
  opacity: 60%;
}

.rounded-input {
  padding:10px;
  border-radius:10px;
}
