.menuCont{
  background-color: bisque;
  outline: 20px;
  outline-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.productCont{
  height:200px;
  width:200px;
  display:flex;
  position:relative;
  background-color: chartreuse;
  box-shadow: 2px;
  margin:10px;
  flex-direction: column;
}

.productCont:hover{
  cursor: pointer;
}
.addToBasket{
  align-self: center;
  bottom:0;
  background-color: #77811a;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

.addToBasket:hover{
  background-color: #5d6514;

}

.productCont a{
  display: flex;
  bottom:0;
}

.item-title {
  font-weight: bold;
}

.item-price {
  margin-top: 10px;
}